<header id="header" class="ban-top">
    <div class="container">
        <div class="agileits-navi_search">
            <form action="#" method="post">
                @await Component.InvokeAsync("Category")
            </form>
        </div>
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li>
                                <a class="nav-stylehead" asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" asp-action="Index" asp-controller="Home">About Us</a>
                            </li>

                            <li>
                                <a class="" asp-action="Index" asp-controller="Home">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>