<footer id="footer">
	<div class="container">
		<!-- footer third section -->
		<div class="footer-info w3-agileits-info">
			<!-- footer categories -->
			<div class="col-sm-5 address-right">
				<div class="col-xs-6 footer-grids">
					<h3>Categories</h3>
					<ul>
						<li>
							<a href="product.html">Grocery</a>
						</li>
						<li>
							<a href="product.html">Fruits</a>
						</li>
						<li>
							<a href="product.html">Soft Drinks</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 footer-grids agile-secomk">
					<ul>
						<li>
							<a href="product.html">Snacks & Beverages</a>
						</li>
						<li>
							<a href="product.html">Bread & Bakery</a>
						</li>
						<li>
							<a href="product.html">Sweets</a>
						</li>

					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- //footer categories -->
			<!-- quick links -->
			<div class="col-sm-5 address-right">
				<div class="col-xs-6 footer-grids">
					<h3>Quick Links</h3>
					<ul>
						<li>
							<a href="about.html">About Us</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
						<li>
							<a href="help.html">Help</a>
						</li>

					</ul>
				</div>
				<div class="col-xs-6 footer-grids">
					<h3>Get in Touch</h3>
					<ul>
						<li>
							<i class="fa fa-map-marker"></i> 123 Sebastian, USA.
						</li>
						<li>
							<i class="fa fa-mobile"></i> 333 222 3333
						</li>
						<li>
							<i class="fa fa-phone"></i> +222 11 4444
						</li>

					</ul>
				</div>
			</div>
			<!-- //quick links -->
			<!-- social icons -->
			<div class="col-sm-2 footer-grids  w3l-socialmk">
				<h3>Follow Us on</h3>
				<div class="social">
					<ul>
						<li>
							<a class="icon fb" href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a class="icon tw" href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a class="icon gp" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
			<!-- //social icons -->
			<div class="clearfix"></div>
		</div>
		<!-- //footer third section -->
	</div>
</footer>